<% include ../partials/header %>

<!-- <h1 class="text-center mt-0">Go Share</h1>
<h1 class="text-center"><img src="https://github.com/matthewcline/gosharegood/blob/master/imgs/good.png?raw=true"></h1> 
<p class="text-center mt-4">Highlighting stories of progress around the world.</p> -->
<div id="feed" class="container mt-2 mb-5">
    <div class="row justify-content-center">
        <h1>Go Share</h1>
    </div>
    <div class="row justify-content-center">
        <h1><img id="goodImage" src="https://github.com/matthewcline/gosharegood/blob/master/imgs/good.png?raw=true"></h1> 
    </div>
    <div class="row justify-content-center mt-4">
        <p>Highlighting stories of progress around the world.</p>
    </div>
    <div class="row mt-2 text-center">
        <div class="col-12">
            <a href="/posts/new">
                <button type="button" class="btn btn-outline-secondary">Add Post</button>
            </a>
        </div>
    </div>
    <hr class="mb-0">
    <% posts.forEach(post => { %>
    <div class="row justify-contents-center align-items-center">
        <div class="col-1">
            <div class="votes text-center"><%= post.votes || 0 %></div>
        </div>
        <div class="col-2">
            <div class="praisingHands text-center">
                <form action="/posts/<%= post._id %>/votes?_method=PUT" method="POST">
                    <button type="submit" class="link-button">
                        <% if(currentUser && currentUser.votes.indexOf(post._id) !== -1) { %>
                            <img class="clickedPraisingHand" src="https://github.com/matthewcline/gosharegood/blob/master/imgs/raisinghands.png?raw=true">
                        <% } else { %>
                            <img src="https://github.com/matthewcline/gosharegood/blob/master/imgs/raisinghands.png?raw=true">
                        <% } %>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-9 py-3">
            <% var title = post.title.length < 130 ? post.title : `${post.title.substring(0, 130)}...` %>
            <a href="/posts/<%= post._id %>">
                <p class="mb-0"><%= title %></p>
            </a>
        <% if(post.url){ %>
            <% var url = post.url.length < 70 ? post.url : `${post.url.substring(0, 70)}...` %>
            <a class="url" href="<%= post.url %>" target="_blank"><%= url %></a>
        <% } else if(post.description) { %>
            <p><%= post.description.substring(0, 70) %>...</p>
        <% }%>
            <p class="postedBy mt-1">Posted by <%= post.author.username %></p>
        </div>
    </div>
    <hr class="my-0">
    <% }); %>
    
</div>

<% include ../partials/footer %>