<% include ../partials/header %>

<h1 class="text-center mt-5">Go Share</h1>
<h1 class="text-center"><img src="/Users/matthewcline/Downloads/good.png"></h1> 

<p class="text-center">Highlighting stories of progress around the world.</p>
<div id="feed" class="container my-5">
    <div class="row">
        <div class="col-2">
            <a href="/posts/new">
                <button type="button" class="btn btn-success">+</button>
            </a>
        </div>
    </div>
    <hr class="mb-0">
    <% posts.forEach(post => { %>
    <div class="row justify-contents-center align-items-center">
        <div class="col-1">
            <div class="votes text-center"><%= post.votes || 0 %></div>
        </div>
        <div class="col-2">
            <div class="praisingHands text-center">
                <img src="https://github.com/matthewcline/gosharegood/blob/master/imgs/raisinghands.png?raw=true">
            </div>
        </div>
        <div class="col-9 py-3">
            <% var title = post.title.length < 130 ? post.title : `${post.title.substring(0, 130)}...` %>
            <p class="mb-0"><%= title %></p>
        <% if(post.url){ %>
            <a class="url" href="<%= post.url %>" target="_blank"><%= post.url.substring(0, 70) %>...</a>
        <% } else if(post.description) { %>
            <p><%= post.description.substring(0, 70) %>...</p>
        <% }%>
        </div>
    </div>
    <hr class="my-0">
    <% }); %>
    
</div>
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/transition.min.js"></script>
<script type="text/javascript" src="/scripts/index.js"></script>

<% include ../partials/footer %>