<% include ../partials/header %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-1">
      <form action="/posts/<%= post._id %>/votes?_method=PUT" method="POST">
        <button type="submit" class="link-button">
            <% if(currentUser && currentUser.votes.indexOf(post._id) !== -1) { %>
                <img class="clickedPraisingHand" src="https://github.com/matthewcline/gosharegood/blob/master/imgs/raisinghands.png?raw=true">
            <% } else { %>
                <img src="https://github.com/matthewcline/gosharegood/blob/master/imgs/raisinghands.png?raw=true">
            <% } %>
        </button>
      </form>
    </div>
    <div class="col-4">
      <div class="row">
        <h1><%= post.title %></h1>
      </div>
      <div class="row">
        <p>Posted by <%= post.author.username %></p>
      </div>
      <div class="row">
        <a href="<%= post.url %>" target="_blank">
          <p><%= post.url %></p>
        </a>
      </div>
      <div class="row">
        <p><%= post.description %></p>
      </div>
    </div>
    <div class="col-4">
    <% if(post.image) { %>
      <div class="card">
        <img class="card-img" src="<%= post.image %>" alt="Card image">
      </div>
    <% } %>
    </div>
  </div>
</div>

<% include ../partials/footer %>