<% include ../partials/header %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-1 mt-4 pr-0">
        <div class="votes text-center"><%= post.votes || 0 %></div>
    </div>
    <div class="col-1 pl-0">
      <div class="row pt-2 justify-content-center">
        <form action="/posts/<%= post._id %>/votes?_method=PUT" method="POST">
          <button type="submit" class="link-button">
              <% if(currentUser && currentUser.votes.indexOf(post._id) !== -1) { %>
                  <img class="praisingHand clickedPraisingHand" src="https://github.com/matthewcline/gosharegood/blob/master/imgs/raisinghands.png?raw=true">
              <% } else { %>
                  <img class="praisingHand" src="https://github.com/matthewcline/gosharegood/blob/master/imgs/raisinghands.png?raw=true">
              <% } %>
          </button>
        </form>
      </div>
    </div>
    <div class="col-5">
      <div class="row">
        <h4><%= post.title %></h4>
      </div>
      <div class="row">
        <p>
          Posted by <%= post.author.username %>
          <%  
          function getTimeSinceCreated(timeCreated) {
              const milliSeconds = Date.now() - timeCreated;
              const seconds = Math.floor(milliSeconds/1000);
              const minutes = Math.floor(seconds/60);
              const hours = Math.floor(minutes/60);
              const days = Math.floor(minutes/1440);
              if(seconds < 3600) {
                  return `${minutes} minutes ago`;
              } else if(seconds < 7200) {
                  return "1 hour ago";
              } else if(seconds < 86400) {
                  return `${hours} hours ago`;
              } else if(seconds < 172800) {
                  return  "1 day ago";
              } else {
                  return `${days} days ago`
              }
          } 
          %>
          <% if(post.timeCreated) { %>
          <span class="ml-2"><%= getTimeSinceCreated(post.timeCreated) || "" %></span>
          <% } %>
        </p>
      </div>
      <div class="row">
        <a href="<%= post.url %>" target="_blank">
          <p><%= post.url %></p>
        </a>
      </div>
      <div class="row">
        <p><%= post.description %></p>
      </div>
      <% if(currentUser && post.author.id.equals(currentUser._id)) { %>
        <div class="row">
          <a href="/posts/<%= post._id %>/edit">
            <button type="button" class="btn btn-outline-dark">Edit</button>
          </a>
          <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-danger ml-2">Delete</button>
          </form>
        </div>
        <% } %>
    </div>
    <% if(post.image) { %>
    <div class="col-3">
      <div class="card">
        <img class="card-img" src="<%= post.image %>" alt="Card image">
      </div>
    </div>
    <% } %>
  </div>
</div>

<% include ../partials/footer %>